html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

.mea-culpa-regular {
  font-family: "Mea Culpa", cursive;
  font-weight: 400;
  font-style: normal;
}


#p5-canvas-container {
  width: 100%;
  /* background-color: lightsteelblue; */
  margin-bottom: 20px;
}




canvas {
  display: block;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: hotpink;
  text-decoration: underline;
}

.landing-page-container {
  /* background-color: bisque; */

  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

.landing-page-title-container {
  /* background-color: cornflowerblue; */
  width: 500px;
  text-align: center;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

.landing-page-title-box {
  /* background-color: aquamarine; */
  font-size: 40px;
  font-family: "Mea Culpa", cursive;
  font-weight: 400;
  font-style: normal;
  position: relative;
  padding-bottom: 30px;

}

.landing-page-link-box {
  font-size: 25px;
  position: fixed;
  margin-left: 850px;
  margin-right: -400px;
  margin-top: 180px;

  background-color: burlywood;

}

.canvas-background {
  position: absolute;
  z-index: -1;

  width: 100%;
  /* background-color: lightsteelblue; */
  margin-bottom: 20px;


}

.main-container {

  display: flex;
  align-items: center;
  padding: 40px 20px;
  text-align: center;
  flex-direction: column;
  width: 800px;
  margin: 0 auto;

  font-family: "Mea Culpa", cursive;

}

.main-title-box {
  width: 100%;

  font-family: "Mea Culpa", cursive;
  font-weight: 400;
  font-size: 40px;

  margin-top: 10px;
  margin-bottom: 30px;

}

.main-description-box {

  text-align: center;
  padding-bottom: 30px;
  font-size: 15px;


  font-family: "Mea Culpa", cursive;

}

.main-link-box {

  position: absolute;
  text-align: center;
  padding-left: 90px;
  padding-top: 900px;
  padding-bottom: 50px;

}

.main-link-bob {

  position: absolute;
  text-align: center;

  padding-left: 90px;
  padding-top: 900px;
  padding-bottom: 50px;

}

.video {
  width: 100vw;
  height: 100vh;
  padding: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.note {
  padding-top: 200px;
  padding-right: 30px;
  padding-bottom: 20px;
  padding-left: 80px;
}

.piano-p {
  background-color: aqua;
  padding-left: 100px;
}

.description {
  background-color: whitesmoke;
}

.photo-piano {
  padding-top: 410px;
  padding-left: 200px;
}

.library-link {
  background-color: whitesmoke;

  padding-left: 660px;

}

.photo-sheet {
  padding-bottom: 200px;
  padding-left: 400px;
  padding-top: 10px;
}

.videotry {

  display: flex;
  justify-content: center;
  align-items: center;
}

.background-image {
  background-image: url('wallpaper.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  font-family: Arial, sans-serif;

}